
.footer {
  border-top: 1px solid #ececec;
  background-color: #ececec;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 40px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.footer a:hover {
  text-decoration: none;
  color: #0CAFFF;
}

.substack-embed {
  width: 300px;
}

.substack-embed iframe {
  margin-bottom: 0px import !important;
}
  
.footer-social-icons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer-social-icon {
  color: #4F4F4F;
  transition: all 0.3s ease-in-out;
  height: 60px;
  width: 60px;
  font-size: 2.5rem;
}

.footer-social-icon:hover {
  color: #0CAFFF;
}

@media only screen and (max-width: 600px)  { 
  .footer {
    min-height: 265px;
  } 
  .footer {
    text-align: center;
  }
}